.prose pre {
	padding: var(--spacing-16) 0;
	background-color: hsl(220 20% 10%);
	line-height: 1.8;
	border-bottom-left-radius: var(--radius-1);
	border-bottom-right-radius: var(--radius-1);
}

.prose code {
	counter-reset: step;
	counter-increment: step 0;
}

.prose code[class*='language-'],
.prose pre[class*='language-'] {
	tab-size: 2;
}

.prose .rehype-code-title {
	padding: var(--spacing-8) var(--spacing-16);
	background-color: hsl(220 20% 10%);
	border-top-left-radius: var(--radius-1);
	border-top-right-radius: var(--radius-1);

	/* workaround CSS grid spacing */
	transform: translateY(46%);
}

.prose .line-number::before {
	width: 1rem;
	display: inline-block;
	margin-right: var(--spacing-16);
	padding: 0 var(--spacing-16);
	content: counter(step);
	counter-increment: step;
	color: hsl(198 13% 52% / 40%);
	text-align: right;
}

.prose .code-line.inserted {
	display: block;
	background-color: hsl(160 84% 39% / 20%);
}

.prose .code-line.deleted {
	display: block;
	background-color: hsl(0 84% 60% / 20%);
}

.prose .highlight-line {
	display: block;
	background-color: var(--color-code-line-highlight);
}

.prose .token.comment,
.prose .token.prolog,
.prose .token.doctype,
.prose .token.cdata {
	color: var(--color-token-6);
}

.prose .token.punctuation {
	color: var(--color-token-4);
}

.prose .token.property,
.prose .token.tag,
.prose .token.boolean,
.prose .token.number,
.prose .token.constant,
.prose .token.symbol,
.prose .token.deleted {
	color: var(--color-token-3);
}

.prose .token.selector,
.prose .token.attr-name,
.prose .token.string,
.prose .token.char,
.prose .token.builtin,
.prose .token.inserted {
	color: var(--color-token-5);
}

.prose .token.operator,
.prose .token.entity,
.prose .token.url,
.prose .language-css .token.string,
.prose .style .token.string {
	color: var(--color-token-3);
}

.prose .token.atrule,
.prose .token.attr-value,
.prose .token.keyword {
	color: var(--color-token-2);
}

.prose .token.function,
.prose .token.class-name {
	color: var(--color-token-1);
}

.prose .token.regex,
.prose .token.important,
.prose .token.variable {
	color: var(--color-highlight);
}
