@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-serif: 'Poppins', sans-serif;
	--font-16: 1.6rem;
	--font-18: 1.8rem;
	--font-24: 2.4rem;
	--font-32: 3.2rem;
	--font-80: 8rem;

	--spacing-4: 0.4rem;
	--spacing-8: 0.5rem;
	--spacing-16: 1.6rem;
	--spacing-20: 2rem;
	--spacing-24: 2.4rem;
	--spacing-32: 3.2rem;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: var(--font-18);
	color: hsl(0 0% 98%);
	background-color: hsl(220 20% 14%);
}

h1 {
	font-size: var(--font-32);
}

h2 {
	font-size: var(--font-24);
}

a {
	font-weight: 700;
	text-decoration: none;
	color: tomato;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
	display: block;
	border-radius: 1rem;
}

button {
	padding: 1rem;
	font-size: inherit;
	font-weight: 700;
	color: inherit;
	background: none;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
}

.prose {
	max-width: 60ch;
	display: grid;
	gap: 2rem;
}

.prose h1 {
	margin: 4rem 0;
	font-size: 6rem;
	line-height: 1;
}

.prose h2 {
	font-size: 4rem;
	margin-top: 2rem;
}

.prose h3 {
	font-size: 2rem;
	margin-top: 2rem;
}

.prose p {
	line-height: 1.8;
}

.prose ul li::before {
	content: '👉️';
	padding-right: 10px;
}

.prose li > ul {
	margin: 0;
	padding-left: 1.6rem;
}

.prose li > ul > li::before {
	display: none;
}

.prose pre {
	padding: 1rem;
	background: black;
	border-radius: 1rem;
}

.prose code {
	counter-reset: step;
	counter-increment: step 0;
}

.prose code .line::before {
	width: 1rem;
	display: inline-block;
	margin-right: 1.4rem;
	content: counter(step);
	counter-increment: step;
	color: hsl(198 13% 52% / 40%);
	text-align: right;
}

.prose .code-title {
	padding: 1rem;
	color: gray;
}

.prose .language-id {
	display: none;
}
