*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--post-font-size: var(--font-18);
	--post-reading-length: 60ch;

	--font-sans: Poppins, sans-serif;
	--font-mono: Source Code Pro, monospace;

	--font-16: 1.6rem;
	--font-18: 1.8rem;
	--font-20: 2rem;
	--font-24: 2.4rem;
	--font-32: 3.2rem;
	--font-80: 8rem;

	--spacing-4: 0.4rem;
	--spacing-8: 0.8rem;
	--spacing-16: 1.6rem;
	--spacing-20: 2rem;
	--spacing-24: 2.4rem;
	--spacing-32: 3.2rem;

	--radius-1: 1.6rem;
	--radius-2: 2rem;

	--toastWidth: 40rem;
	--toastMinHeight: 2rem;
	--toastPadding: 1rem;
	--toastContainerRight: auto;
	--toastContainerLeft: calc(50vw - 20rem);
	--toastBackground: #f56565;
	--toastBarBackground: #c53030;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/poppins/Poppins-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/poppins/Poppins-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/poppins/Poppins-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/source-code-pro/SourceCodePro-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/source-code-pro/SourceCodePro-Bold.woff2') format('woff2');
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--font-sans);
	font-size: var(--font-18);
	color: hsl(0 0% 98%);
	background-color: hsl(220 20% 14%);
}

h1 {
	font-size: var(--font-32);
}

h2 {
	font-size: var(--font-24);
}

a {
	font-weight: 700;
	text-decoration: none;
	color: tomato;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
	display: block;
	border-radius: var(--radius-1);
}

svg {
	display: block;
}

button {
	font-weight: 700;
	font-size: inherit;
	color: inherit;
	background: none;
	border: none;
	border-radius: var(--radius-1);
	cursor: pointer;
}
