html[data-theme='🌛 Night'] {
	--color-highlight: hsl(38 93% 76%);
	--color-code-line-highlight: hsl(218 26% 20%);
	--color-code-line-number: hsl(218 26% 40%);
	--color-token-1: hsl(211 96% 78%);
	--color-token-2: var(--highlight);
	--color-token-3: hsl(0 93% 81%);
	--color-token-4: hsl(218 26% 80%);
	--color-token-5: hsl(0 93% 81%);
	--color-token-6: hsl(217 10% 64%);
}

html[data-theme='☀️ Daylight'] {
	--color-highlight: hsl(210 60% 42%);
	--color-code-line-highlight: hsl(0 0% 94%);
	--color-code-line-number: hsl(0 0% 80%);
	--color-token-1: hsl(23 75% 53%);
	--color-token-2: var(--highlight);
	--color-token-3: hsl(8 80% 61%);
	--color-token-4: hsl(0 0% 40%);
	--color-token-5: hsl(8 80% 61%);
	--color-token-6: hsl(217 10% 64%);
}

html[data-theme='🐺 Night Howl'] {
	--color-highlight: hsl(207 100% 94%);
	--color-code-line-highlight: hsl(206 50% 20%);
	--color-code-line-number: hsl(206 50% 40%);
	--color-token-1: hsl(180 100% 43%);
	--color-token-2: hsl(197 100% 49%);
	--color-token-3: hsl(358 79% 69%);
	--color-token-4: hsl(206 50% 98%);
	--color-token-5: hsl(111 65% 71%);
	--color-token-6: hsl(217 10% 64%);
}

html[data-theme='🧠 Night Mind'] {
	--color-highlight: hsl(9 100% 84%);
	--color-code-line-highlight: hsl(256 14% 24%);
	--color-code-line-number: hsl(256 14% 40%);
	--color-token-1: hsl(238 80% 80%);
	--color-token-2: hsl(205 82% 70%);
	--color-token-3: hsl(358 79% 68%);
	--color-token-4: hsl(256 14% 98%);
	--color-token-5: hsl(102 68% 67%);
	--color-token-6: hsl(217 10% 64%);
}
